*{
    margin: 0xp;
    padding: 0px;
}
#cont{
    background: linear-gradient(to right, #44ef85, #fe4466);
    text-align: center;

    
}
table{
    margin: auto;
    background-color: beige;
    font-size: 20px;
}
body{
    background: repeating-linear-gradient(to right,#576758, purple );
}